<div class="form">
  <%= form_for @short_link do |f| %>
    <div class="form-group">
      <%= f.label :slug %>
      <%= f.text_field :slug, class: 'form-control', :required => true %>
    </div>

    <div class="form-group">
      <%= f.label :destination_url %>
      <%= f.url_field :destination_url, class: 'form-control', :required => true %>
    </div>

    <div class="form__actions">
      <%= f.button class: 'button' %>
      <%= link_to 'Go to Listing', root_path, class: 'button button--blue' %>
    </div>
  <% end %>
</div>